<div class="side-container">
    <div class="header-container">
        <div class="icon-container" *ngFor="let tab of tabs; let i=index" (click)="tabSwitched(i)">
            <span [ngStyle] = "activeIndex === i ? {'font-weight': 'bold'}: {}">{{tab}}</span>
            <hr *ngIf="activeIndex === i" />
        </div>
    </div>
    <!-- UI for 'Matches' i.e. i = 0 -->
    <div *ngIf="activeIndex === 0" class="matches-container">
        <div *ngFor="let user of allMatches; let i=index" class="card-container" (click)="openConversationScreen(user, i)"
            [ngStyle]="userClickedIndex !== -1 && userClickedIndex !== i? {'opacity': '0.5'}: {'opacity': '1.0'}">
            <!-- Default Image -->
            <img *ngIf="!(user.userImages && user.userImages.length>0)" src="assets/profile.png" class="image-fit-cover" />
            <!-- Choose 1st Image -->
            <img *ngIf="user.userImages && user.userImages.length>0" 
            [src]="'data:image/jpeg;base64,'+user.userImages[0].imageData" class="image-fit-cover" />

            <span class="name-container">{{user.firstName}}</span>
        </div>
    </div>
    <!-- Ui for 'Messages' i.e. i = 1 -->
    <div *ngIf="activeIndex === 1" class="message-container">
        <div *ngFor="let message of allMessages; let i=index" class="each-message-container"
            (click)="openConversationScreenFromMessages(i, message.usernameSwiped, message.conversationId, message.matchedDate)"
            [ngStyle]="activatedUsername === message.usernameSwiped? {'background-color': 'lightgray'}: {}">
            <div class="image-container">
                <img [src]="'data:image/jpeg;base64,'+message.imageData" class="image-fit-cover" />
            </div>
            <div class="profile-messages">
                <span><b>{{message.firstName}}</b> {{message.age}}</span>
                <span style="font-size: small;">{{message.message}}</span>
            </div>
            <div *ngIf="activatedUsername === message.usernameSwiped" class="vertical-bar"></div>
        </div>
    </div>
</div>