.matched-content {
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    height: 550px;
    padding: 0px;
    border: none;
}

.match-image {
    position: absolute;
    z-index: 10;
    top: 45%;
    left: 13%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.basic-details {
    position: absolute;
    bottom: 30px;
    left: 20px;
}