<div class="main-content">
    <div class="card-view">
        <ngb-carousel *ngIf="userImagesList.length > 0">
            <ng-template ngbSlide *ngFor="let userImage of userImagesList">
                <div class="picsum-img-wrapper" style="width: 100%; height: 350px;">
                    <img [src]="'data:image/jpeg;base64,'+userImage.imageData" alt="..." class="image-fit-cover">
                </div>
            </ng-template>
        </ngb-carousel>
        <div *ngIf="userImagesList.length === 0" style="width: 100%; height: 350px;">
            <img src="assets/profile.png" alt="..." class="image-fit-cover">
        </div>
        <div class="info-wrapper">
            <h2>{{loggedinUser?.firstName}} {{loggedinUser?.age}}</h2>
            <div class="icon-container">
                <img src="assets/job.png" width="20px" height="20px" class="mr-10" />
                <span>{{loggedinUser?.company}}</span>
            </div>
            <div class="icon-container">
                <img src="assets/college.png" width="20px" height="20px" class="mr-10" />
                <span>{{loggedinUser?.schoolName}}</span>
            </div>
            <div class="icon-container">
                <img src="assets/home.png" width="20px" height="20px" class="mr-10" />
                <span>Lives in {{loggedinUser?.livingIn?.name}}</span>
            </div>
            <div class="icon-container">
                <img src="assets/person.png" width="20px" height="20px" class="mr-10" />
                <span>{{checkSexuality(loggedinUser)}}</span>
            </div>
            <hr />
            <span>{{loggedinUser?.selfSummary}}</span>
        </div>

        <div *ngIf="!isOtherUser" class="bottom-edit-info" routerLink="/edit-profile">
            <span>Edit Info</span>
        </div>
    </div>
</div>>