<div>
  <header class="header-wrapper">
    <div *ngIf="isLoggedIn()" routerLink="/my-profile" routerLinkActive="active-link" class="profile-container">
      <div class="image-container">
        <img [src]="loggedInUser.imageData" width="100%" height="100%" />
      </div>
      <span>{{loggedInUser.firstName}}</span>  
    </div>
    <img *ngIf="isLoggedIn()" src="assets/logout.svg" alt="cross" class="icon-size" title="Logut" (click)="logout()" />
  </header>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>