.center-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register-component {
    width: 100%;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(6, 31px);
    grid-gap: 7rem 10rem;
}

.custom-btn {
    width: 110px;
    height: 50px;
    margin-top: 8px;
}