.section-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-view {
    width: 400px;
    height: 550px;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    top: -35px; /* Change this value to move the entire card */
    background: white;
}

.basic-details {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.text-color-white {
    color: white;
}

.lower-tab {
    width: 20%;
    height: 10%;
}

.matched-content .modal-content {
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    height: 550px;
    padding: 0px;
    border: none;
}