<div class="main-content">
    <div *ngFor="let user of users; let i = index" class="section-component">
        <div class="card-view" [ngStyle]="cardIndex === i ? (action === 3? {
            'transform': 'translateX(400px) rotate(40deg)',
            'transition': '0.3s ease-out'
        }: action === 2? {
            'transform': 'translateX(-400px) rotate(-40deg)',
            'transition': '0.3s ease-out'
        }: {}): {}">
            <ngb-carousel *ngIf="user.userImages.length>0">
                <ng-template ngbSlide *ngFor="let userImage of user.userImages">
                    <div class="picsum-img-wrapper" style="width: 100%; height: 550px;">
                        <img [src]="'data:image/jpeg;base64,'+userImage.imageData" alt="..." class="image-fit-cover">
                    </div>
                </ng-template>
            </ngb-carousel>
            <img *ngIf="user.userImages.length === 0 || !user.userImages" src="assets/profile.png" alt="..."
            class="image-fit-cover" />
            <div class="basic-details">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <h5 class="text-color-white">{{user.firstName}}, {{user.age}}</h5>
                    <img src="assets/info.png" width="20px" height="20px" (click)="clickInfo(user)"
                        style="margin-left: 20px; margin-bottom: 7px; cursor: pointer;" />
                </div>
                <br />
                <p class="text-color-white">
                    {{user.selfSummary}}
                </p>
            </div>
        </div>
        <div class="lower-tab">
            <app-lower-ultility-tab (lowerTabEvents)="performOperation($event)" [currIndex]="i" [doDisableReplay]="userInMemory? false: true">
            </app-lower-ultility-tab>
            <!-- <p style="position: fixed; right: 40px; top: 300px;">{{userInMemory? true: false}}</p> -->
        </div>
    </div>
</div>